<!-- CUSTOM HEAD SNIPPETS -->

<!-- Performance -->
<link rel="preconnect" href="https://kit.fontawesome.com/" crossorigin>
<link rel="preconnect" href="https://kit-pro.fontawesome.com/" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link rel="preconnect" href="https://res.cloudinary.com/" crossorigin>
<link rel="preconnect" href="https://cdn.staticaly.com" crossorigin>
<link rel="preconnect" href="https://bioemprendedor.disqus.com/" crossorigin>
<link rel="dns-prefetch" href="https://disqus.com/">
<link rel="dns-prefetch" href="https://c.disquscdn.com/">

<!-- Google Fonts -->
<link rel="prefetch" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700" rel="stylesheet">

<!-- Favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png">
<link rel="manifest" href="/assets/ico/site.webmanifest">
<link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/ico/favicon.ico">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/ico/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Mailchimp Connection -->
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/279734f2045a0c14d1cdd31e4/90b3495375c85fa48fa7c38ea.js");</script>
<!-- BShareaholic intttegration -->
<link rel='preload' href='https://cdn.shareaholic.net/assets/pub/shareaholic.js' as='script' />
<script data-cfasync="false" async src="https://cdn.shareaholic.net/assets/pub/shareaholic.js" data-shr-siteid="c0b4f0a0e7a57cebafbeb5fbc78d6588"></script>

<!-- CUSTOM HEAD SNIPPETS -->