{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    {% if script contains "://" %}
      {% capture script_path %}{{ script }}{% endcapture %}
    {% else %}
      {% capture script_path %}{{ script | relative_url }}{% endcapture %}
    {% endif %}
    <script src="{{ script_path }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include /comments-providers/scripts.html %}

<script defer src="https://pro.fontawesome.com/releases/v5.4.1/js/solid.js" integrity="sha384-KlTWIsOnBg7LJobQmLsv5fQ1qbx73K+o8/xhoUDoIba13SxF4bT5W2WgV3d8mZIw" crossorigin="anonymous"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.4.1/js/regular.js" integrity="sha384-MB7Bz/7e8sBWnZgblSLUfFOOi+V1PIkRG/Ex1NMeu0CovaXCzHyCMwAwOF+FAo1s" crossorigin="anonymous"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.4.1/js/light.js" integrity="sha384-jlaccvPpizUbHU/8pYAsDEwhhBae8MUcYqHHsKkjFcFsEp3Y6LrVXh0GA84aAkTg" crossorigin="anonymous"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.4.1/js/brands.js" integrity="sha384-ShBqjf9lFG58e2NmhnbVlhAOPCWdzkPbBmAEcQ37Liu3TwOYxIizS7J1P3rRLJHm" crossorigin="anonymous"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.4.1/js/fontawesome.js" integrity="sha384-8vKKeD0uIV/HXM5ym3RGB4O7rZ43fCdpiXqP047w7sEE3igcK0Y1U9ApEArcRBDJ" crossorigin="anonymous"></script>

<script defer type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b8c8c0f91aa74ca"></script>
 
{% include analytics.html %}